#IMG_1 {
    block-size: 350px;
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-end-end-radius: 3px;
    border-end-start-radius: 3px;
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    border-start-end-radius: 3px;
    border-start-start-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 30px 0px;
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    cursor: pointer;
    height: 350px;
    inline-size: 800px;
    max-inline-size: 100%;
    max-width: 100%;
    perspective-origin: 400px 175px;
    text-align: left;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    transform-origin: 400px 175px;
    user-select: none;
    vertical-align: middle;
    width: 800px;
    border: 0px none rgb(43, 65, 232);
    border-radius: 3px;
    font: 16px / 26.4px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#IMG_1*/

#IMG_1:after {
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(43, 65, 232);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#IMG_1:after*/

#IMG_1:before {
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(43, 65, 232);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#IMG_1:before*/

