#DIV_1 {
    block-size: 617.688px;
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    height: 617.688px;
    inline-size: 1348px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    opacity: 0.7;
    perspective-origin: 674px 308.844px;
    position: absolute;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 674px 308.844px;
    width: 1348px;
    background: rgb(51, 51, 51) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
    transition: background 0.3s ease 0s, border-radius 0.3s ease 0s, opacity 0.3s ease 0s;
}/*#DIV_1*/

#DIV_1:after {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_1:before*/

