#DIV_1 {
    block-size: 577.75px;
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    display: flex;
    height: 577.75px;
    inline-size: 489.984px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-block-end: 10px;
    padding-block-start: 10px;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    perspective-origin: 244.984px 288.875px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 244.992px 288.875px;
    width: 489.984px;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
    padding: 10px;
}/*#DIV_1*/

#DIV_1:after {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_1:before*/

#DIV_2 {
    align-content: center;
    align-items: center;
    block-size: 557.75px;
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    display: flex;
    height: 557.75px;
    inline-size: 469.984px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 234.984px 278.875px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 234.992px 278.875px;
    width: 469.984px;
    border: 0px none rgb(148, 138, 153);
    flex-flow: row wrap;
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_2*/

#DIV_2:after {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    block-size: 135.188px;
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    height: 135.188px;
    inline-size: 469.984px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 10px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 234.984px 67.5938px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 234.992px 67.5938px;
    width: 469.984px;
    z-index: 2;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    margin: 0px 0px 10px;
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_3*/

#DIV_3:after {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_3:before*/

#DIV_4 {
    block-size: 135.188px;
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    height: 135.188px;
    inline-size: 469.984px;
    perspective-origin: 234.984px 67.5938px;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    transform-origin: 234.992px 67.5938px;
    width: 469.984px;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
    transition: background 0.3s ease 0s, border 0.3s ease 0s, border-radius 0.3s ease 0s, box-shadow 0.3s ease 0s, -webkit-border-radius 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}/*#DIV_4*/

#DIV_4:after {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_4:after*/

#DIV_4:before {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_4:before*/

#H2_5 {
    block-size: 135.188px;
    border-block-end-color: rgb(31, 31, 31);
    border-block-start-color: rgb(31, 31, 31);
    border-inline-end-color: rgb(31, 31, 31);
    border-inline-start-color: rgb(31, 31, 31);
    box-sizing: border-box;
    caret-color: rgb(31, 31, 31);
    color: rgb(31, 31, 31);
    column-rule-color: rgb(31, 31, 31);
    height: 135.188px;
    inline-size: 469.984px;
    letter-spacing: -3px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    perspective-origin: 234.984px 67.5938px;
    text-align: left;
    text-decoration: none solid rgb(31, 31, 31);
    text-emphasis-color: rgb(31, 31, 31);
    text-size-adjust: 100%;
    transform-origin: 234.992px 67.5938px;
    width: 469.984px;
    border: 0px none rgb(31, 31, 31);
    font: 600 52px / 67.6px "Work Sans";
    margin: 0px;
    outline: rgb(31, 31, 31) none 0px;
}/*#H2_5*/

#H2_5:after {
    border-block-end-color: rgb(31, 31, 31);
    border-block-start-color: rgb(31, 31, 31);
    border-inline-end-color: rgb(31, 31, 31);
    border-inline-start-color: rgb(31, 31, 31);
    box-sizing: border-box;
    caret-color: rgb(31, 31, 31);
    color: rgb(31, 31, 31);
    column-rule-color: rgb(31, 31, 31);
    letter-spacing: -3px;
    text-align: left;
    text-decoration: none solid rgb(31, 31, 31);
    text-emphasis-color: rgb(31, 31, 31);
    text-size-adjust: 100%;
    border: 0px none rgb(31, 31, 31);
    font: 600 52px / 67.6px "Work Sans";
    outline: rgb(31, 31, 31) none 0px;
}/*#H2_5:after*/

#H2_5:before {
    border-block-end-color: rgb(31, 31, 31);
    border-block-start-color: rgb(31, 31, 31);
    border-inline-end-color: rgb(31, 31, 31);
    border-inline-start-color: rgb(31, 31, 31);
    box-sizing: border-box;
    caret-color: rgb(31, 31, 31);
    color: rgb(31, 31, 31);
    column-rule-color: rgb(31, 31, 31);
    letter-spacing: -3px;
    text-align: left;
    text-decoration: none solid rgb(31, 31, 31);
    text-emphasis-color: rgb(31, 31, 31);
    text-size-adjust: 100%;
    border: 0px none rgb(31, 31, 31);
    font: 600 52px / 67.6px "Work Sans";
    outline: rgb(31, 31, 31) none 0px;
}/*#H2_5:before*/

#FONT_6, #FONT_7, #FONT_12 {
    border-block-end-color: rgb(31, 31, 31);
    border-block-start-color: rgb(31, 31, 31);
    border-inline-end-color: rgb(31, 31, 31);
    border-inline-start-color: rgb(31, 31, 31);
    box-sizing: border-box;
    caret-color: rgb(31, 31, 31);
    color: rgb(31, 31, 31);
    column-rule-color: rgb(31, 31, 31);
    letter-spacing: -3px;
    perspective-origin: 0px 0px;
    text-align: left;
    text-decoration: none solid rgb(31, 31, 31);
    text-emphasis-color: rgb(31, 31, 31);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(31, 31, 31);
    font: 600 52px / 67.6px "Work Sans";
    outline: rgb(31, 31, 31) none 0px;
}/*#FONT_6, #FONT_7, #FONT_12*/

#FONT_6:after, #FONT_7:after, #FONT_12:after {
    border-block-end-color: rgb(31, 31, 31);
    border-block-start-color: rgb(31, 31, 31);
    border-inline-end-color: rgb(31, 31, 31);
    border-inline-start-color: rgb(31, 31, 31);
    box-sizing: border-box;
    caret-color: rgb(31, 31, 31);
    color: rgb(31, 31, 31);
    column-rule-color: rgb(31, 31, 31);
    letter-spacing: -3px;
    text-align: left;
    text-decoration: none solid rgb(31, 31, 31);
    text-emphasis-color: rgb(31, 31, 31);
    text-size-adjust: 100%;
    border: 0px none rgb(31, 31, 31);
    font: 600 52px / 67.6px "Work Sans";
    outline: rgb(31, 31, 31) none 0px;
}/*#FONT_6:after, #FONT_7:after, #FONT_12:after*/

#FONT_6:before, #FONT_7:before, #FONT_12:before {
    border-block-end-color: rgb(31, 31, 31);
    border-block-start-color: rgb(31, 31, 31);
    border-inline-end-color: rgb(31, 31, 31);
    border-inline-start-color: rgb(31, 31, 31);
    box-sizing: border-box;
    caret-color: rgb(31, 31, 31);
    color: rgb(31, 31, 31);
    column-rule-color: rgb(31, 31, 31);
    letter-spacing: -3px;
    text-align: left;
    text-decoration: none solid rgb(31, 31, 31);
    text-emphasis-color: rgb(31, 31, 31);
    text-size-adjust: 100%;
    border: 0px none rgb(31, 31, 31);
    font: 600 52px / 67.6px "Work Sans";
    outline: rgb(31, 31, 31) none 0px;
}/*#FONT_6:before, #FONT_7:before, #FONT_12:before*/

#FONT_8 {
    border-block-end-color: rgb(31, 31, 31);
    border-block-start-color: rgb(31, 31, 31);
    border-inline-end-color: rgb(31, 31, 31);
    border-inline-start-color: rgb(31, 31, 31);
    box-sizing: border-box;
    caret-color: rgb(31, 31, 31);
    color: rgb(31, 31, 31);
    column-rule-color: rgb(31, 31, 31);
    letter-spacing: -3px;
    perspective-origin: 0px 0px;
    text-align: left;
    text-decoration: none solid rgb(31, 31, 31);
    text-emphasis-color: rgb(31, 31, 31);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(31, 31, 31);
    font: 600 52px / 67.6px "Work Sans";
    outline: rgb(31, 31, 31) none 0px;
}/*#FONT_8*/

#FONT_8:after {
    border-block-end-color: rgb(31, 31, 31);
    border-block-start-color: rgb(31, 31, 31);
    border-inline-end-color: rgb(31, 31, 31);
    border-inline-start-color: rgb(31, 31, 31);
    box-sizing: border-box;
    caret-color: rgb(31, 31, 31);
    color: rgb(31, 31, 31);
    column-rule-color: rgb(31, 31, 31);
    letter-spacing: -3px;
    text-align: left;
    text-decoration: none solid rgb(31, 31, 31);
    text-emphasis-color: rgb(31, 31, 31);
    text-size-adjust: 100%;
    border: 0px none rgb(31, 31, 31);
    font: 600 52px / 67.6px "Work Sans";
    outline: rgb(31, 31, 31) none 0px;
}/*#FONT_8:after*/

#FONT_8:before {
    border-block-end-color: rgb(31, 31, 31);
    border-block-start-color: rgb(31, 31, 31);
    border-inline-end-color: rgb(31, 31, 31);
    border-inline-start-color: rgb(31, 31, 31);
    box-sizing: border-box;
    caret-color: rgb(31, 31, 31);
    color: rgb(31, 31, 31);
    column-rule-color: rgb(31, 31, 31);
    letter-spacing: -3px;
    text-align: left;
    text-decoration: none solid rgb(31, 31, 31);
    text-emphasis-color: rgb(31, 31, 31);
    text-size-adjust: 100%;
    border: 0px none rgb(31, 31, 31);
    font: 600 52px / 67.6px "Work Sans";
    outline: rgb(31, 31, 31) none 0px;
}/*#FONT_8:before*/

#SPAN_9, #FONT_10 {
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    letter-spacing: -3px;
    perspective-origin: 0px 0px;
    text-align: left;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(43, 65, 232);
    font: 600 52px / 67.6px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#SPAN_9, #FONT_10*/

#SPAN_9:after, #FONT_10:after {
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    letter-spacing: -3px;
    text-align: left;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    border: 0px none rgb(43, 65, 232);
    font: 600 52px / 67.6px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#SPAN_9:after, #FONT_10:after*/

#SPAN_9:before, #FONT_10:before {
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    letter-spacing: -3px;
    text-align: left;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    border: 0px none rgb(43, 65, 232);
    font: 600 52px / 67.6px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#SPAN_9:before, #FONT_10:before*/

#FONT_11 {
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    letter-spacing: -3px;
    perspective-origin: 0px 0px;
    text-align: left;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(43, 65, 232);
    font: 600 52px / 67.6px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#FONT_11*/

#FONT_11:after {
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    letter-spacing: -3px;
    text-align: left;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    border: 0px none rgb(43, 65, 232);
    font: 600 52px / 67.6px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#FONT_11:after*/

#FONT_11:before {
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    letter-spacing: -3px;
    text-align: left;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    border: 0px none rgb(43, 65, 232);
    font: 600 52px / 67.6px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#FONT_11:before*/

#DIV_13 {
    block-size: 99.1719px;
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    height: 99.1719px;
    inline-size: 469.984px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 10px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 234.984px 49.5781px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 234.992px 49.5859px;
    width: 469.984px;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    margin: 0px 0px 10px;
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_13*/

#DIV_13:after {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_13:after*/

#DIV_13:before {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_13:before*/

#DIV_14 {
    block-size: 99.1719px;
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    height: 99.1719px;
    inline-size: 469.984px;
    padding-block-end: 20px;
    padding-inline-end: 80px;
    perspective-origin: 234.984px 49.5781px;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    transform-origin: 234.992px 49.5859px;
    width: 469.984px;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
    padding: 0px 80px 20px 0px;
    transition: background 0.3s ease 0s, border 0.3s ease 0s, border-radius 0.3s ease 0s, box-shadow 0.3s ease 0s, -webkit-border-radius 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}/*#DIV_14*/

#DIV_14:after {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_14:after*/

#DIV_14:before {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_14:before*/

#SPAN_15, #FONT_16 {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    perspective-origin: 0px 0px;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(148, 138, 153);
    font: 18px / 18px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#SPAN_15, #FONT_16*/

#SPAN_15:after, #FONT_16:after {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 18px / 18px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#SPAN_15:after, #FONT_16:after*/

#SPAN_15:before, #FONT_16:before {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 18px / 18px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#SPAN_15:before, #FONT_16:before*/

#FONT_17 {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    perspective-origin: 0px 0px;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(148, 138, 153);
    font: 18px / 18px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#FONT_17*/

#FONT_17:after {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 18px / 18px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#FONT_17:after*/

#FONT_17:before {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 18px / 18px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#FONT_17:before*/

#DIV_18 {
    block-size: 47.5px;
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    height: 47.5px;
    inline-size: 177.266px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    max-inline-size: 100%;
    max-width: 100%;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 88.625px 23.75px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 88.6328px 23.75px;
    width: 177.266px;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_18*/

#DIV_18:after {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_18:after*/

#DIV_18:before {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_18:before*/

#DIV_19 {
    block-size: 47.5px;
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    height: 47.5px;
    inline-size: 177.266px;
    perspective-origin: 88.625px 23.75px;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    transform-origin: 88.6328px 23.75px;
    width: 177.266px;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
    transition: background 0.3s ease 0s, border 0.3s ease 0s, border-radius 0.3s ease 0s, box-shadow 0.3s ease 0s, -webkit-border-radius 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}/*#DIV_19*/

#DIV_19:after {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_19:after*/

#DIV_19:before {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_19:before*/

#DIV_20 {
    block-size: 47.5px;
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    height: 47.5px;
    inline-size: 177.266px;
    perspective-origin: 88.625px 23.75px;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    transform-origin: 88.6328px 23.75px;
    width: 177.266px;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_20*/

#DIV_20:after {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_20:after*/

#DIV_20:before {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_20:before*/

#A_21 {
    block-size: 47.5px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-end-end-radius: 3px;
    border-end-start-radius: 3px;
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    border-start-end-radius: 3px;
    border-start-start-radius: 3px;
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    display: inline-block;
    height: 47.5px;
    inline-size: 177.266px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    min-inline-size: 160px;
    min-width: 160px;
    padding-block-end: 15px;
    padding-block-start: 15px;
    padding-inline-end: 25px;
    padding-inline-start: 25px;
    perspective-origin: 88.625px 23.75px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: capitalize;
    top: 0px;
    transform-origin: 88.6328px 23.75px;
    user-select: none;
    vertical-align: middle;
    width: 177.266px;
    z-index: 1;
    background: rgb(43, 65, 232) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 3px;
    font: 16px / 16px "Work Sans";
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 15px 25px;
    transition: all 0.3s ease 0s;
}/*#A_21*/

#A_21:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: capitalize;
    user-select: none;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 16px "Work Sans";
    outline: rgb(255, 255, 255) none 0px;
}/*#A_21:after*/

#A_21:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: capitalize;
    user-select: none;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 16px "Work Sans";
    outline: rgb(255, 255, 255) none 0px;
}/*#A_21:before*/

#FONT_22, #FONT_23 {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: capitalize;
    transform-origin: 0px 0px;
    user-select: none;
    vertical-align: middle;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 16px "Work Sans";
    outline: rgb(255, 255, 255) none 0px;
}/*#FONT_22, #FONT_23*/

#FONT_22:after, #FONT_23:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: capitalize;
    user-select: none;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 16px "Work Sans";
    outline: rgb(255, 255, 255) none 0px;
}/*#FONT_22:after, #FONT_23:after*/

#FONT_22:before, #FONT_23:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: capitalize;
    user-select: none;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 16px "Work Sans";
    outline: rgb(255, 255, 255) none 0px;
}/*#FONT_22:before, #FONT_23:before*/

#DIV_24 {
    block-size: 47px;
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    height: 47px;
    inline-size: 206.25px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    max-inline-size: 100%;
    max-width: 100%;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 103.125px 23.5px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 103.125px 23.5px;
    width: 206.25px;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_24*/

#DIV_24:after {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_24:after*/

#DIV_24:before {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_24:before*/

#DIV_25 {
    block-size: 47px;
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    height: 47px;
    inline-size: 191.25px;
    margin-inline-start: 15px;
    perspective-origin: 95.625px 23.5px;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    transform-origin: 95.625px 23.5px;
    width: 191.25px;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    margin: 0px 0px 0px 15px;
    outline: rgb(148, 138, 153) none 0px;
    transition: background 0.3s ease 0s, border 0.3s ease 0s, border-radius 0.3s ease 0s, box-shadow 0.3s ease 0s, -webkit-border-radius 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}/*#DIV_25*/

#DIV_25:after {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_25:after*/

#DIV_25:before {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_25:before*/

#DIV_26 {
    block-size: 47px;
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    height: 47px;
    inline-size: 191.25px;
    perspective-origin: 95.625px 23.5px;
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    transform-origin: 95.625px 23.5px;
    width: 191.25px;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_26*/

#DIV_26:after {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_26:after*/

#DIV_26:before {
    border-block-end-color: rgb(148, 138, 153);
    border-block-start-color: rgb(148, 138, 153);
    border-inline-end-color: rgb(148, 138, 153);
    border-inline-start-color: rgb(148, 138, 153);
    box-sizing: border-box;
    caret-color: rgb(148, 138, 153);
    color: rgb(148, 138, 153);
    column-rule-color: rgb(148, 138, 153);
    text-align: left;
    text-decoration: none solid rgb(148, 138, 153);
    text-emphasis-color: rgb(148, 138, 153);
    text-size-adjust: 100%;
    border: 0px none rgb(148, 138, 153);
    font: 16px / 26.4px "Work Sans";
    outline: rgb(148, 138, 153) none 0px;
}/*#DIV_26:before*/

#A_27 {
    block-size: 47px;
    border-block-end-color: rgb(43, 65, 232);
    border-block-end-style: solid;
    border-block-end-width: 2px;
    border-block-start-color: rgb(43, 65, 232);
    border-block-start-style: solid;
    border-block-start-width: 2px;
    border-end-end-radius: 4px;
    border-end-start-radius: 4px;
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-end-style: solid;
    border-inline-end-width: 2px;
    border-inline-start-color: rgb(43, 65, 232);
    border-inline-start-style: solid;
    border-inline-start-width: 2px;
    border-start-end-radius: 4px;
    border-start-start-radius: 4px;
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    display: inline-block;
    fill: rgb(43, 65, 232);
    height: 47px;
    inline-size: 191.25px;
    padding-block-end: 14px;
    padding-block-start: 14px;
    padding-inline-end: 25px;
    padding-inline-start: 25px;
    perspective-origin: 95.625px 23.5px;
    text-align: center;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    transform-origin: 95.625px 23.5px;
    width: 191.25px;
    background: rgba(43, 65, 232, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 2px solid rgb(43, 65, 232);
    border-radius: 4px;
    font: 500 15px / 15px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
    padding: 14px 25px;
    transition: all 0.3s ease 0s;
}/*#A_27*/

#A_27:after {
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    fill: rgb(43, 65, 232);
    text-align: center;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    border: 0px none rgb(43, 65, 232);
    font: 500 15px / 15px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#A_27:after*/

#A_27:before {
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    fill: rgb(43, 65, 232);
    text-align: center;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    border: 0px none rgb(43, 65, 232);
    font: 500 15px / 15px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#A_27:before*/

#SPAN_28 {
    block-size: 15px;
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    cursor: pointer;
    display: flex;
    fill: rgb(43, 65, 232);
    height: 15px;
    inline-size: 137.25px;
    justify-content: center;
    perspective-origin: 68.625px 7.5px;
    text-align: center;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    transform-origin: 68.625px 7.5px;
    width: 137.25px;
    border: 0px none rgb(43, 65, 232);
    font: 500 15px / 15px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#SPAN_28*/

#SPAN_28:after {
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    cursor: pointer;
    display: block;
    fill: rgb(43, 65, 232);
    text-align: center;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    border: 0px none rgb(43, 65, 232);
    font: 500 15px / 15px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#SPAN_28:after*/

#SPAN_28:before {
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    cursor: pointer;
    display: block;
    fill: rgb(43, 65, 232);
    text-align: center;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    border: 0px none rgb(43, 65, 232);
    font: 500 15px / 15px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#SPAN_28:before*/

#SPAN_29 {
    block-size: 15px;
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    cursor: pointer;
    display: block;
    fill: rgb(43, 65, 232);
    height: 15px;
    inline-size: 137.25px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    order: 10;
    perspective-origin: 68.625px 7.5px;
    text-align: center;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    transform-origin: 68.625px 7.5px;
    width: 137.25px;
    border: 0px none rgb(43, 65, 232);
    flex: 1 1 auto;
    font: 500 15px / 15px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#SPAN_29*/

#SPAN_29:after {
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    cursor: pointer;
    fill: rgb(43, 65, 232);
    text-align: center;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    border: 0px none rgb(43, 65, 232);
    font: 500 15px / 15px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#SPAN_29:after*/

#SPAN_29:before {
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    cursor: pointer;
    fill: rgb(43, 65, 232);
    text-align: center;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    border: 0px none rgb(43, 65, 232);
    font: 500 15px / 15px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#SPAN_29:before*/

#FONT_30, #FONT_31 {
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    cursor: pointer;
    fill: rgb(43, 65, 232);
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(43, 65, 232);
    font: 500 15px / 15px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#FONT_30, #FONT_31*/

#FONT_30:after, #FONT_31:after {
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    cursor: pointer;
    fill: rgb(43, 65, 232);
    text-align: center;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    border: 0px none rgb(43, 65, 232);
    font: 500 15px / 15px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#FONT_30:after, #FONT_31:after*/

#FONT_30:before, #FONT_31:before {
    border-block-end-color: rgb(43, 65, 232);
    border-block-start-color: rgb(43, 65, 232);
    border-inline-end-color: rgb(43, 65, 232);
    border-inline-start-color: rgb(43, 65, 232);
    box-sizing: border-box;
    caret-color: rgb(43, 65, 232);
    color: rgb(43, 65, 232);
    column-rule-color: rgb(43, 65, 232);
    cursor: pointer;
    fill: rgb(43, 65, 232);
    text-align: center;
    text-decoration: none solid rgb(43, 65, 232);
    text-emphasis-color: rgb(43, 65, 232);
    text-size-adjust: 100%;
    border: 0px none rgb(43, 65, 232);
    font: 500 15px / 15px "Work Sans";
    outline: rgb(43, 65, 232) none 0px;
}/*#FONT_30:before, #FONT_31:before*/

